.profile__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 50px;
    img {
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
    }
}