.video__title {
  font-size: 2em;
  margin-top: 20px 5px;
  height: 50px;
  line-height: 50px;
  padding: 5px;
}

#video-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  
  margin-bottom: 10px;
  .video-header {
    display: flex;
    min-width: 200px;
    min-height: 50px;
    padding: 10px;
    border-radius: 100px;
    background-color: gray;
    h1 {
      color: black;
      line-height: 50px;
      font-weight: bold;
    }
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 50px;
      margin-left: 30px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 100px;
      }
      small {
        margin-left: 10px;
      }
    }
  }
  .thumb-box {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 100px;
    padding: 10px;
    i {
      cursor: pointer;
      padding: 5px;
    }
    span {
      text-align: left;
      padding-left: 10px;
      padding-right: 20px;
    }
  }

}

#videoSummary {
  padding: 10px 20px;
  background-color: gray;
  border-radius: 10px;
  p {
    font-size: 0.8em;
    margin-bottom: 5px;
    font-weight: bold;
  }
  div {
    padding: 10px;
  }
  .hashtags-container {
    display: inline-block;
    span {
      margin-right: 5px;
      a{
        font-weight: bold;
        color: rgb(89, 89, 236);
      }
    }
  }
}

.video__options {
  margin: 10px 0px;
  span{
    margin-right: 5px;
    padding: 5px;
    text-decoration: underline;
    
    &:hover {
      color: $accentColor;
      cursor: pointer;
    }
  }
  
}

.video__add-comments {
    width: 100%;
    margin: 0px;
    padding: 20px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        textarea {
            display: block;
            width: 100%;
            height: 60%;
            margin-bottom: 40px;
        }
        button {
            width: 100px;
            height: 40px;
            border-radius: 10px;
        }
    }
}

.video__data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .video__title {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .video__createdAt {
      font-size: 12px;
    }
    .video__owner {
      margin-bottom: 5px;
      font-size: 14px;
      a {
        color: cornflowerblue;
        text-decoration: underline;
      }
    }
}

.video__comments {
display: flex;
flex-direction: column;
max-width: 800px;
width: 100%;
margin: 0 auto;
margin-top: 20px;
    .video__comment {
        padding: 10px;
        max-height: 320px;
        border-radius: 3px;
        background-color: white;
        color: black;
        margin-bottom: 10px;
        .video__comment-header {
          padding: 5px;
          height: 30px;
          i {
            margin-right: 10px;
          }
          span {
            font-size: 1em;
            font-weight: bold;
            margin-right: 10px;
          }
          .removeCommentBtn, .updateCommentBtn{
            font-size: 0.8em;
            font-weight: lighter;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        
        .video__comment-body {
          padding: 5px;
          .textarea__update {
            padding: 10px;
            min-width: 97%;
            max-width: 97%;
            min-height: 100px;
            max-height: 200px;
          }
          #updateBtn {
            width: 140px;
            height: 40px;
            color: white;
            background-color: $submitBtn;
            cursor: pointer;
          }
          #cancelBtn {
            width: 140px;
            height: 40px;
            color: white;
            background-color: $cancelBtn;
            cursor: pointer;
          }
        }
    }
}


