.empty__message {
    font-size: 18px;
    margin-bottom: 50px;
}

.video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
    text-align: center;
    margin-top: 40px;
    a {
        text-decoration: underline;
    }
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}