.empty__message {
    font-size: 18px;
    margin-bottom: 50px;
}

.video-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
    text-align: center;
    margin-top: 40px;
    a {
        text-decoration: underline;
    }
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.submitBtn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: $submitBtn;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.display-none {
    display: none;
}