.social-login {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 20px;
    i {
        margin-right: 10px;
    }
    .social__btn--github {
        background-color: transparent;
        color:azure;
        font-size: 0.8em;
        &:hover {
            color: $accentColor;
        }
    }
}