// video mixin
.video-mixin {
    .video-mixin__thumb {
        height: 140px;
        border-radius: 7px;
        width: 100%;
        background-color: ivory;
    }
    .video-mixin__data {
        padding: 0px 15px;
        .video-mixin__title {
            display: block;
            font-size: 18px;
            margin-top: 10px;
        }
        .video-mixin__meta {
            font-size: 12px;
            margin-top: 5px;
        }
    }
}