extends base
include mixins/video

block content 
    div.video-grid
        each video in videos 
            +video(video) 
            //
                +video ==> mixin의 video함수 사용(+)
        else
            span.empty__message No videos found

block scripts 
    script(src="/static/js/main.js")