extends base.pug

block content 
    div#selfContainer
        button#selfRecordBtn Self Recorder
        div#videoContainer
            video#preview
            button#actionBtn Start Recording
    if errorMessage
        span=errorMessage 
    form(method="POST", enctype="multipart/form-data").upload__form
        p Video File | 영상파일
        input(type="file", accept="video/*", required, id="video", name="video")
        p Thumbnail File | 썸네일
        input(type="file" accept="image/*", required, id="thumbnail", name="thumbnail")
        p Title | 제목
        input(placeholder="Title", required, type="text", name="title") 
        p Description | 영상설명
        textarea(placeholder="Description", required, type="text", name="description")
        p Hashtags | 해시태그
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")  
        input(type="submit", value="upload video")#uploadBtn

block scripts 
    script(src="/static/js/recorder.js")