extends base.pug

block content 
    div#selfContainer
        button#selfRecordBtn Self Recorder
        div#videoContainer
            video#preview
            button#actionBtn Start Recording
    if errorMessage
        span=errorMessage 
    form(method="POST", enctype="multipart/form-data")
        label(for="video")#label Video File
        input(type="file", accept="video/*", required, id="video", name="video")
        label(for="thumbnail")#label Thumbnail File
        input(type="file" accept="image/*", required, id="thumbnail", name="thumbnail")
        input(placeholder="Title", required, type="text", name="title") 
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")  
        input(type="submit", value="upload video")#uploadBtn

block scripts 
    script(src="/static/js/recorder.js")