header
    div.flex-box-center
        a(href="/").header__logo
            i.fab.fa-youtube
    div.search-bar 
        form(method="GET", action="/videos/search")
            input(placeholder="Search by title", type="text", name="keyword", id="keyword")
            button 
                i.fas.fa-search
    div.nav__container.flex-box-center
        div#nav__btn.flex-box-center
            if loggedIn 
                span.open Menu
                img.header__avatar(src=`/${loggedInUser.avatarUrl}`)
            else
                span.open Menu
                i.fas.fa-clipboard-list
        nav#nav__bar.close
            ul 
                if loggedIn
                    li.flex-box-center 
                        a(href=`/users/${loggedInUser._id}`) 
                            div.flex-box-center#nav__profile
                                if loggedInUser.avatarUrl === "" || !loggedInUser.avatarUrl
                                    span ☆☆☆
                                else 
                                    img.header__avatar(src=`/${loggedInUser.avatarUrl}`)
                                span #{loggedInUser.name}
                    hr
                    li.flex-box-center
                        a(href="/users/edit") Edit Profile
                    li.flex-box-center
                        a(href="/videos/upload") Upload Video <!-- post -->
                    hr
                    li.flex-box-center 
                        a(href="/users/logout") Logout 

                else
                    li.flex-box-center 
                        span 로그인이 필요합니다.
                    hr
                    li.flex-box-center  
                        a(href="/join") Join
                    li.flex-box-center  
                        a(href="/login") Login 
    script(src="/static/js/header.js")